<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://yarnpkg.com/en/package/normalize.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2191495_ii6hbeuq14.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <!--topbar-->
    <div class="nav">
        <div class="wrap">
            <div class="nav-left">
                <a class="nav-item" href="javascript:void(0)">首页</a>
                <a class="nav-item" href="javascript:void(0)">新闻</a>
                <a class="nav-item" href="javascript:void(0)">新房</a>
                <a class="nav-item" href="javascript:void(0)">二手房</a>
                <a class="nav-item" href="javascript:void(0)">租房</a>
                <a class="nav-item" href="javascript:void(0)">商铺</a>
                <a class="nav-item" href="javascript:void(0)">写字楼</a>
                <a class="nav-item" href="javascript:void(0)">小区</a>
                <a class="nav-item" href="javascript:void(0)">房超市</a>
                <a class="nav-item" href="javascript:void(0)">问答</a>
                <a class="nav-item" href="javascript:void(0)">工具</a>
            </div>
            <div class="nav-right">
                <a class="nav-item" href="javascript:void(0)">
                    <span class="iconfont iconapp"></span>
                    <span>下载APP</span>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span class="iconfont iconuser"></span>
                    <span>登录 / 注册</span>
                </a>
            </div>
        </div>
    </div>
    <!--头部-->
    <div class="header">
        <div class="wrap">
            <div class="header-search">
                <img class="header-logo" src="" alt="logo">
                <input class="header-input" type="text" placeholder="搜索您想查找的问题"/>
                <a class="header-btn btn1">
                    <span class="iconfont iconsousuo"></span>
                    <span>搜索</span>
                </a>
                <a class="header-btn btn2">
                    <span class="iconfont iconxingtuxuetang-tiwen-"></span>
                    <span>提问</span>
                </a>
            </div>
            <div class="header-tab">
                <a class="header-tab-item active" href="javascript:void(0)">楼盘导购</a>
                <a class="header-tab-item" href="javascript:void(0)">户型图库</a>
                <a class="header-tab-item" href="javascript:void(0)">楼盘答疑</a>
            </div>
        </div>
    </div>
    <!--尾部-->
    <div class="footer">
        <div class="wrap">

        </div>
    </div>
</body>
</html>