<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>江阴二手房</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2199048_eczxww7fz5n.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>
<body>
    <!--nav-->
    <div class="nav">
        <div class="wrap">
            <div class="nav-left">
                <a class="nav-item" href="javascript:void(0)">
                    <span>首页</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                        <li class="item">看房团</li>
                        <li class="item">看房团</li>
                        <li class="item">看房团</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>新闻</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                        <li class="item">特价房</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>新房</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>二手房</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>租房</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>商铺</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>写字楼</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>小区</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>房超市</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>问答</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>工具</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
            </div>
            <div class="nav-right">
                <a class="nav-item" href="javascript:void(0)">
                    <span class="iconfont icon-shouji"></span>
                    <span>下载APP</span>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span class="iconfont icon-touxiang"></span>
                    <span>登录 / 注册</span>
                </a>
            </div>
        </div>
    </div>
    <!--header2-->
    <div class="header">
        <div class="wrap">
            <div class="header-search">
                <img class="header-logo" src="/public/image/logo_510.png" alt="logo">
                <label class="header-input">
                    <input type="text" placeholder="搜索您想查找的问题"/>
                    <span class="iconfont icon-sousuobaidi"></span>
                </label>
                <a class="header-link">热门二手房</a>
                <a class="header-link">热门二手房</a>
                <a class="header-link">热门二手房</a>
            </div>
            <div class="header-tab">
                <a class="header-tab-item active" href="javascript:void(0)">楼盘导购</a>
                <a class="header-tab-item" href="javascript:void(0)">户型图库</a>
                <a class="header-tab-item" href="javascript:void(0)">楼盘答疑</a>
            </div>
        </div>
    </div>
    <!--main-->
    <div class="main second">
        <div class="wrap">
            123
        </div>
    </div>
    <!--menu-->
    <div class="menu">
        <div class="wrap">
            <div class="menu-left">
                <ul class="menu-left-box">
                    <li class="menu-left-item title">房产新闻</li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">城建规划</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼市行情</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">房产拍卖</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">好房推荐</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">我要贷款</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">产权过户</a>
                    </li>
                </ul>
                <ul class="menu-left-box">
                    <li class="menu-left-item title">新房中心</li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼盘行情</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼盘导购</a>
                    </li>
                    <li class="menu-left-item active">
                        <a href="javascript:void(0)">房超市</a>
                        <span class='iconfont icon-new'></span>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼盘实销</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼盘答疑</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">户型图库</a>
                    </li>
                </ul>
                <ul class="menu-left-box">
                    <li class="menu-left-item title">租售市场</li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">出售房</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">出租房</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">教育资源</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">小区</a>
                    </li>
                </ul>
                <ul class="menu-left-box">
                    <li class="menu-left-item title">办公指南</li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">我要贷款</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">办房产证</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">你问我答</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">购房工具</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">开发商办事</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">网上备案</a>
                    </li>
                </ul>
            </div>
            <div class="menu-right">
                <div class="menu-right-phone">0510-86808058</div>
                <div class="menu-right-time">8:30-17:30（周一至周六）</div>
                <div class="menu-right-code">
                    <div class="menu-right-code-item">
                        <img src="/public/image/app.png" alt="code">
                        <span>客户端下载</span>
                    </div>
                    <div class="menu-right-code-item">
                        <img src="/public/image/xcx_02.png" alt="code">
                        <span>微信小程序</span>
                    </div>
                    <div class="menu-right-code-item">
                        <img src="/public/image/gzh_01.png" alt="code">
                        <span>微信公众号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="footer">
        <div class="footer-about">
            <a class="footer-about-item" href="javascript:void(0)">关于我们</a>
            <span class="iconfont icon-tubiaozhizuo-"></span>
            <a class="footer-about-item" href="javascript:void(0)">联系方式</a>
            <span class="iconfont icon-tubiaozhizuo-"></span>
            <a class="footer-about-item" href="javascript:void(0)">版权声明</a>
            <span class="iconfont icon-tubiaozhizuo-"></span>
            <a class="footer-about-item" href="javascript:void(0)">中介合作</a>
            <span class="iconfont icon-tubiaozhizuo-"></span>
            <a class="footer-about-item" href="javascript:void(0)">招聘信息</a>
        </div>
        <div class="footer-content">
            <p class="footer-content-item">Copyright(&#169)2008-2020苏ICP备12000824号版权所有@江阴伍壹零传媒有限公司，未经同意，不得转载 </p>
            <p class="footer-content-item">510法律顾问：江苏春申律师事务所——邵伟洪律师江苏漫修（江阴）律师事务所——周杨律师 </p>
            <p class="footer-content-item">苏公网安备 32028102000004号|增值电信业务经营许可证B2-20110487 </p>
        </div>
        <p class="footer-other">除声明外，本站文章数据内所指面积均为建筑面积</p>
    </div>
    <!--other - 隐藏时只要加上hidden就行  class="other-wrap hidden"-->
    <div class="other-wrap">
        <div class="other">
            <div class="other-item">
                <img class="other-item-code" src="/public/image/xcx_02.png" alt="code">
                <div>
                    <p class="other-item-title">手机微信扫一扫</p>
                    <p class="other-item-txt">关注510房产小程序，了解更多房源信息</p>
                </div>
            </div>
            <div class="other-item last">
                <img class="other-item-code" src="/public/image/app.png" alt="code">
                <div>
                    <p class="other-item-title">下载510房产APP</p>
                    <p class="other-item-txt">查看更多房源信息</p>
                </div>
            </div>
            <span class="iconfont icon-Close"></span>
        </div>
    </div>
</body>
<script>
    $('.header-tab-item').click(function (e) {
        $('.header-tab-item').removeClass('active');
        $(this).addClass('active')

        $('.header-tab-bar').css({
            transform: 'translateX(' + ($(this).width() / 2 + $(this).position().left) + 'px)'
        })
    })
</script>
</html>