<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>江阴二手房</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_2199048_io7cdhdpdn9.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/fixed-alert-view.css">
    <script src="/public/js/jquery-3.1.0.js"></script>
</head>
<body>
    <!--nav-->
    <div class="wmm-nav">
        <div class="wrap">
            <div class="nav-left">
                <a class="nav-item" href="javascript:void(0)">
                    <span>首页</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                        <li class="item">看房团</li>
                        <li class="item">看房团</li>
                        <li class="item">看房团</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>新闻</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                        <li class="item">特价房</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>新房</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>二手房</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>租房</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>商铺</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>写字楼</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>小区</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>房超市</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>问答</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span>工具</span>
                    <ul class="nav-item-menu">
                        <li class="item">特价房</li>
                        <li class="item">房超市</li>
                        <li class="item">特价房</li>
                    </ul>
                </a>
            </div>
            <div class="nav-right">
                <a class="nav-item" href="javascript:void(0)">
                    <img class="icon-phone" src="/public/image/phone.png" alt="">
                    <span>下载APP</span>
                </a>
                <a class="nav-item" href="javascript:void(0)">
                    <span class="iconfont icon-touxiang"></span>
                    <span>登录 / 注册</span>
                </a>
            </div>
        </div>
    </div>
    <!--header2-->
    <div class="wmm-header">
        <div class="wrap">
            <div class="header-search">
                <img class="header-logo" src="/public/image/logo_510.png" alt="logo">
                <label class="header-input">
                    <input type="text" placeholder="搜索您想查找的问题"/>
                    <span class="iconfont icon-sousuobaidi"></span>
                </label>
                <a class="header-link">热门二手房</a>
                <a class="header-link">热门二手房</a>
                <a class="header-link">热门二手房</a>
            </div>
            <div class="header-tab">
                <a class="header-tab-item active" href="javascript:void(0)">楼盘导购</a>
                <a class="header-tab-item" href="javascript:void(0)">户型图库</a>
                <a class="header-tab-item" href="javascript:void(0)">楼盘答疑</a>
            </div>
        </div>
    </div>
    <!--main-->
    <div class="wmm-second">
        <div class="wrap">
            <!-- 检索 -->
            <div class="second-search">
                <!--区域-->
                <div class="second-search-wrap">
                    <div class="second-search-title">区域：</div>
                    <div>
                        <ul class="second-search-main">
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城中</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城东</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城东</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城西</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城北</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">高新区</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">敔山湾</a>
                            </li>
                        </ul>
                        <ul class="second-search-main areamain active" style="display: none">
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">敔山湾</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">敔山湾</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                            <li>
                                <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                            </li>
                        </ul>
                    </div>
                    <div class="second-search-tool">
                        <span class="second-search-link areabtn">+ 展开更多</span>
                    </div>
                </div>
                <!--价格-->
                <div class="second-search-wrap">
                    <div class="second-search-title">价格：</div>
                    <ul class="second-search-main">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>

                    <div class="second-search-tool">
                        <input type="number" class="second-search-input" name="minjg" id="minjg" value="">
                        <span> - </span>
                        <input type="number" class="second-search-input" name="maxjg" id="maxjg" value="">
                        <span>万</span>
                        <button class="second-search-btn" type="button" id="jgTap">确定</button>
                    </div>
                </div>
                <!--面积-->
                <div class="second-search-wrap">
                    <div class="second-search-title">面积：</div>
                    <ul class="second-search-main">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>

                    <div class="second-search-tool">
                        <input type="number" class="second-search-input" name="minjg" id="minjg" value="">
                        <span> - </span>
                        <input type="number" class="second-search-input" name="maxjg" id="maxjg" value="">
                        <span>㎡</span>
                        <button class="second-search-btn" type="button" id="jgTap">确定</button>
                    </div>
                </div>
                <!--房型-->
                <div class="second-search-wrap">
                    <div class="second-search-title">房型：</div>
                    <ul class="second-search-main">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>
                </div>
                <!--特色-->
                <div class="second-search-wrap">
                    <div class="second-search-title">特色：</div>
                    <ul class="second-search-main">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>
                </div>
                <!--其他-->
                <div class="second-search-wrap second-search-other">
                    <div class="second-search-title">其他：</div>
                    <ul class="second-search-main">
                        <li class="second-search-item active">
                            <span>物业形态</span>
                            <i class="iconfont icon-xiangxia1"></i>
                        </li>
                        <li class="second-search-item">
                            <span>小学</span>
                            <i class="iconfont icon-xiangxia1"></i>
                        </li>
                        <li class="second-search-item">
                            <span>中学</span>
                            <i class="iconfont icon-xiangxia1"></i>
                        </li>
                        <li class="second-search-item">
                            <span>房间朝南数</span>
                            <i class="iconfont icon-xiangxia1"></i>
                        </li>
                        <li class="second-search-item">
                            <span>楼层</span>
                            <i class="iconfont icon-xiangxia1"></i>
                        </li>
                        <li class="second-search-item">
                            <span>装修</span>
                            <i class="iconfont icon-xiangxia1"></i>
                        </li>
                        <li class="second-search-item">
                            <span>电梯</span>
                            <i class="iconfont icon-xiangxia1"></i>
                        </li>
                        <li class="second-search-item">
                            <span>发布日期</span>
                            <i class="iconfont icon-xiangxia1"></i>
                        </li>
                    </ul>
                </div>
                <!-- 其他选项-->
                <div class="second-search-wrap second-search-more">
                    <div class="second-search-title"></div>
                    <ul class="second-search-main">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>
                    <ul class="second-search-main" style="display: none;">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>
                    <ul class="second-search-main" style="display: none;">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>
                    <ul class="second-search-main" style="display: none;">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>
                    <ul class="second-search-main" style="display: none;">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>
                    <ul class="second-search-main" style="display: none;">
                        <li>
                            <a class="second-search-main-item active" href="javascript:void (0)">城南</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--房源tab-->
            <div class="second-body">
                <div class="second-body-left">
                    <!--搜索结果-->
                    <div class="second-body-title">
                        <p class="second-body-title-left">
                            <span>已为您找到</span>
                            <span class="color-blue">100</span>
                            <span>套房源</span>
                        </p>
                        <a class="second-body-title-right" href="javascript:void(0)">一键清空所有条件</a>
                    </div>
                    <!--搜索tab-->
                    <div class="second-body-tab-wrap">
                        <div class="second-body-tab">
                            <a class="second-body-tab-item active" href="javascript:void(0)">全部二手房</a>
                            <a class="second-body-tab-item" href="javascript:void(0)">担保真房源</a>
                            <a class="second-body-tab-item" href="javascript:void(0);">VR实拍房</a>
                        </div>
                        <div class="second-body-type">
                            <span class="iconfont icon-menu"></span>
                            <span class="iconfont icon-menu1"></span>
                        </div>
                    </div>
                    <!--筛选-->
                    <div class="second-body-search">
                        <div class="second-body-search-left">
                            <span class="font-bolder">筛选：</span>
                            <ul class="second-search-main">
                                <li class="checkbox-wrap">
                                    <input id="q51" name="" type="checkbox" value="">
                                    <label for="q0" class="second-search-item">
                                        <i class="checkbox"></i>
                                        <span>只看中介</span>
                                    </label>
                                </li>
                                <li class="checkbox-wrap">
                                    <input id="q51" name="" type="checkbox" value="">
                                    <label for="q0" class="second-search-item">
                                        <i class="checkbox"></i>
                                        <span>只看个人</span>
                                    </label>
                                </li>
                                <li class="checkbox-wrap">
                                    <input id="q52" name="" type="checkbox" value="">
                                    <label for="q52" class="second-search-item">
                                        <i class="checkbox"></i>
                                        <span>有图</span>
                                    </label>
                                </li>
                                <li class="checkbox-wrap">
                                    <input id="q53" name="" type="checkbox" value="">
                                    <label for="q53" class="second-search-item">
                                        <i class="checkbox"></i>
                                        <span>有视频</span>
                                    </label>
                                </li>
                                <li class="checkbox-wrap">
                                    <input id="54" name="" type="checkbox" value="">
                                    <label for="54" class="second-search-item color-red">
                                        <i class="checkbox"></i>
                                        <span>合并相识房源</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="second-body-search-right">
                            <span>排序：</span>
                            <a class="second-body-search-right-item i-downs" href="javascript:void(0)">
                                <span>切换为发布时间</span>
                            </a>
                            <a class="second-body-search-right-item i-ups" href="javascript:void(0)">
                                <span>面积</span>
                            </a>
                            <a class="second-body-search-right-item" href="javascript:void(0)">
                                <span>总价</span>
                            </a>
                            <a class="second-body-search-right-item" href="javascript:void(0)">
                                <span>单价</span>
                            </a>
                        </div>
                    </div>
                    <!--列表-->
                    <div class="second-body-list">
                        <div class="second-body-item">
                            <a class="second-body-item-icon" href="javascript:void(0);">
                                <img
                                    src="https://www.jy510.com//uploadfile/esf/2020/1102/thumb_180_150_160430302411954.jpg">
                                <span class="vr-animation-forever"></span>
                            </a>
                            <div class="second-body-item-txt">
                                <a class="second-body-item-title" href="javascript:void(0)">
                                    <span>绿园新村（一手房源），一楼带院子</span>
                                    <span class="pic">图</span>
                                </a>
                                <p class="second-body-item-mark">
                                    <span>城中</span>
                                    <span class="second-body-item-jg">|</span>
                                    <span>多层住宅</span>
                                </p>
                                <p class="second-body-item-tag">
                                    <span class="tag vrfang">VR实拍房</span>
                                    <span class="tag">中介</span>
                                    <span class="tag">简装</span>
                                </p>
                                <p class="second-body-item-u">
                                    <span>联系人：泓晴房产-刘霞</span>
                                    <span class="iconfont icon-time"></span>
                                    <span>2020-11-15 20:09:16更新</span>
                                </p>
                            </div>
                            <p class="second-body-item-m"><span>57㎡</span></p>
                            <div class="second-body-item-mon">
                                <p>
                                    <span class="color-red">199.8</span>
                                    <span>万</span>
                                </p>
                                <p>35053元/㎡</p>
                            </div>
                        </div>
                        <div class="second-body-item">
                            <a class="second-body-item-icon" href="javascript:void(0);">
                                <img
                                    src="https://www.jy510.com//uploadfile/esf/2020/1102/thumb_180_150_160430302411954.jpg">
                            </a>
                            <div class="second-body-item-txt">
                                <a class="second-body-item-title" href="javascript:void(0)">
                                    <span>绿园新村（一手房源），一楼带院子</span>
                                    <span class="pic">图</span>
                                </a>
                                <p class="second-body-item-mark">
                                    <span>城中</span>
                                    <span class="second-body-item-jg">|</span>
                                    <span>多层住宅</span>
                                </p>
                                <p class="second-body-item-tag">
                                    <span class="tag">中介</span>
                                    <span class="tag">简装</span>
                                </p>
                                <p class="second-body-item-u">
                                    <span>联系人：泓晴房产-刘霞</span>
                                    <span class="iconfont icon-time"></span>
                                    <span>2020-11-15 20:09:16更新</span>
                                </p>
                            </div>
                            <p class="second-body-item-m"><span>57㎡</span></p>
                            <div class="second-body-item-mon">
                                <p>
                                    <span class="color-red">199.8</span>
                                    <span>万</span>
                                </p>
                                <p>35053元/㎡</p>
                            </div>
                        </div>
                        <div class="second-body-item">
                            <a class="second-body-item-icon" href="javascript:void(0);">
                                <img
                                    src="https://www.jy510.com//uploadfile/esf/2020/1102/thumb_180_150_160430302411954.jpg">
                            </a>
                            <div class="second-body-item-txt">
                                <a class="second-body-item-title" href="javascript:void(0)">
                                    <span>绿园新村（一手房源），一楼带院子</span>
                                    <span class="pic">图</span>
                                </a>
                                <p class="second-body-item-mark">
                                    <span>城中</span>
                                    <span class="second-body-item-jg">|</span>
                                    <span>多层住宅</span>
                                </p>
                                <p class="second-body-item-tag">
                                    <span class="tag">中介</span>
                                    <span class="tag">简装</span>
                                </p>
                                <p class="second-body-item-u">
                                    <span>联系人：泓晴房产-刘霞</span>
                                    <span class="iconfont icon-time"></span>
                                    <span>2020-11-15 20:09:16更新</span>
                                </p>
                            </div>
                            <p class="second-body-item-m"><span>57㎡</span></p>
                            <div class="second-body-item-mon">
                                <p>
                                    <span class="color-red">199.8</span>
                                    <span>万</span>
                                </p>
                                <p>35053元/㎡</p>
                            </div>
                        </div>
                        <div class="second-body-item">
                            <a class="second-body-item-icon" href="javascript:void(0);">
                                <img
                                    src="https://www.jy510.com//uploadfile/esf/2020/1102/thumb_180_150_160430302411954.jpg">
                            </a>
                            <div class="second-body-item-txt">
                                <a class="second-body-item-title" href="javascript:void(0)">
                                    <span>绿园新村（一手房源），一楼带院子</span>
                                    <span class="pic">图</span>
                                </a>
                                <p class="second-body-item-mark">
                                    <span>城中</span>
                                    <span class="second-body-item-jg">|</span>
                                    <span>多层住宅</span>
                                </p>
                                <p class="second-body-item-tag">
                                    <span class="tag">中介</span>
                                    <span class="tag">简装</span>
                                </p>
                                <p class="second-body-item-u">
                                    <span>联系人：泓晴房产-刘霞</span>
                                    <span class="iconfont icon-time"></span>
                                    <span>2020-11-15 20:09:16更新</span>
                                </p>
                            </div>
                            <p class="second-body-item-m"><span>57㎡</span></p>
                            <div class="second-body-item-mon">
                                <p>
                                    <span class="color-red">199.8</span>
                                    <span>万</span>
                                </p>
                                <p>35053元/㎡</p>
                            </div>
                        </div>
                        <div class="second-body-item">
                            <a class="second-body-item-icon" href="javascript:void(0);">
                                <img
                                    src="https://www.jy510.com//uploadfile/esf/2020/1102/thumb_180_150_160430302411954.jpg">
                            </a>
                            <div class="second-body-item-txt">
                                <a class="second-body-item-title" href="javascript:void(0)">
                                    <span>绿园新村（一手房源），一楼带院子</span>
                                    <span class="pic">图</span>
                                </a>
                                <p class="second-body-item-mark">
                                    <span>城中</span>
                                    <span class="second-body-item-jg">|</span>
                                    <span>多层住宅</span>
                                </p>
                                <p class="second-body-item-tag">
                                    <span class="tag">中介</span>
                                    <span class="tag">简装</span>
                                </p>
                                <p class="second-body-item-u">
                                    <span>联系人：泓晴房产-刘霞</span>
                                    <span class="iconfont icon-time"></span>
                                    <span>2020-11-15 20:09:16更新</span>
                                </p>
                            </div>
                            <p class="second-body-item-m"><span>57㎡</span></p>
                            <div class="second-body-item-mon">
                                <p>
                                    <span class="color-red">199.8</span>
                                    <span>万</span>
                                </p>
                                <p>35053元/㎡</p>
                            </div>
                        </div>
                    </div>
                    <!--分页-->
                    <div class="second-body-pages">
                        <a class="page-item active" href="javascript:void(0)">1</a>
                        <a class="page-item" href="javascript:void(0)">2</a>
                        <a class="page-item color-red" href="javascript:void(0)">下一页</a>
                        <a class="page-item" href="javascript:void(0)">...1312</a>
                        <span>共62432条房源</span>
                    </div>
                    <!--热门-->
                    <div class="second-body-hot">
                        <div class="second-body-hot-title">
                            <span class="left">热门小区</span>
                            <a class="right" href="javascript:void(0)">更多小区找房</a>
                        </div>
                        <ul class="second-body-hot-list">
                            <li class="second-body-hot-item">
                                <span>H</span>
                                <a href="javascript:void(0)">花园五村</a>
                            </li>
                            <li class="second-body-hot-item">
                                <span>H</span>
                                <a href="javascript:void(0)">花园五村</a>
                            </li>
                            <li class="second-body-hot-item">
                                <span>H</span>
                                <a href="javascript:void(0)">花园五村</a>
                            </li>
                            <li class="second-body-hot-item">
                                <span>H</span>
                                <a href="javascript:void(0)">花园五村</a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="second-body-right">
                    <div class="second-body-right-ad">
                        <a class="second-body-right-title" href="javascript:void (0)">免费发布房源</a>
                        <img class="second-body-right-img" src="/public/image/zjkhlc.png"/>
                        <p class="second-body-right-txt">
                            <span class="font-bolder">服务热线：</span>
                            <span class="color-red">0510-86808058</span>
                        </p>
                        <p class="second-body-right-txt">
                            <span class="font-bolder">服务时间：</span>
                            <span class="color-red">8:30-17:30</span>
                            <span>（周一到周六）</span>
                        </p>
                    </div>
                    <div class="second-body-right-list">
                        <p class="second-body-right-list-title">最新推荐-VR实拍房源</p>
                        <ul>
                            <li class="second-body-right-item">
                                <a class="second-body-right-img" href="javascript:void(0)">
                                    <img
                                        src="https://www.jy510.com//uploadfile/vrpic/2020/0729/thumb_180_150_202007290616254917.jpg"
                                        alt="">
                                    <span class="vr-animation-forever"></span>
                                </a>
                                <p class="second-body-right-name">
                                    尚城国际楼.王位置《一手有钥匙》四朝南房型好
                                </p>
                                <p class="second-body-right-mark">
                                    <span> 面积：177㎡</span>
                                    <span> 楼层：16/33</span>
                                </p>
                                <p class="second-body-right-price">￥278.8万</p>
                            </li>
                            <li class="second-body-right-item">
                                <a class="second-body-right-img" href="javascript:void(0)">
                                    <img
                                        src="https://www.jy510.com//uploadfile/vrpic/2020/0729/thumb_180_150_202007290616254917.jpg"
                                        alt="">
                                    <span class="vr-animation-forever"></span>
                                </a>
                                <p class="second-body-right-name">
                                    尚城国际楼.王位置《一手有钥匙》四朝南房型好
                                </p>
                                <p class="second-body-right-mark">
                                    <span> 面积：177㎡</span>
                                    <span> 楼层：16/33</span>
                                </p>
                                <p class="second-body-right-price">￥278.8万</p>
                            </li>
                            <li class="second-body-right-item">
                                <a class="second-body-right-img" href="javascript:void(0)">
                                    <img
                                        src="https://www.jy510.com//uploadfile/vrpic/2020/1013/thumb_180_150_202010130422374199.jpg"
                                        alt="">
                                    <span class="vr-animation-forever"></span>
                                </a>
                                <p class="second-body-right-name">
                                    尚城国际楼.王位置《一手有钥匙》四朝南房型好
                                </p>
                                <p class="second-body-right-mark">
                                    <span> 面积：177㎡</span>
                                    <span> 楼层：16/33</span>
                                </p>
                                <p class="second-body-right-price">￥278.8万</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--menu-->
    <div class="wmm-menu">
        <div class="wrap">
            <div class="menu-left">
                <ul class="menu-left-box">
                    <li class="menu-left-item title">房产新闻</li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">城建规划</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼市行情</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">房产拍卖</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">好房推荐</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">我要贷款</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">产权过户</a>
                    </li>
                </ul>
                <ul class="menu-left-box">
                    <li class="menu-left-item title">新房中心</li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼盘行情</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼盘导购</a>
                    </li>
                    <li class="menu-left-item active">
                        <a href="javascript:void(0)">房超市</a>
                        <span class='iconfont icon-new'></span>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼盘实销</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">楼盘答疑</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">户型图库</a>
                    </li>
                </ul>
                <ul class="menu-left-box">
                    <li class="menu-left-item title">租售市场</li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">出售房</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">出租房</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">教育资源</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">小区</a>
                    </li>
                </ul>
                <ul class="menu-left-box">
                    <li class="menu-left-item title">办公指南</li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">我要贷款</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">办房产证</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">你问我答</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">购房工具</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">开发商办事</a>
                    </li>
                    <li class="menu-left-item">
                        <a href="javascript:void(0)">网上备案</a>
                    </li>
                </ul>
            </div>
            <div class="menu-right">
                <div class="menu-right-phone">0510-86808058</div>
                <div class="menu-right-time">8:30-17:30（周一至周六）</div>
                <div class="menu-right-code">
                    <div class="menu-right-code-item">
                        <img src="/public/image/app.png" alt="code">
                        <span>客户端下载</span>
                    </div>
                    <div class="menu-right-code-item">
                        <img src="/public/image/xcx_02.png" alt="code">
                        <span>微信小程序</span>
                    </div>
                    <div class="menu-right-code-item">
                        <img src="/public/image/gzh_01.png" alt="code">
                        <span>微信公众号</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer-->
    <div class="wmm-footer">
        <div class="footer-about">
            <a class="footer-about-item" href="javascript:void(0)">关于我们</a>
            <span class="iconfont icon-tubiaozhizuo-"></span>
            <a class="footer-about-item" href="javascript:void(0)">联系方式</a>
            <span class="iconfont icon-tubiaozhizuo-"></span>
            <a class="footer-about-item" href="javascript:void(0)">版权声明</a>
            <span class="iconfont icon-tubiaozhizuo-"></span>
            <a class="footer-about-item" href="javascript:void(0)">中介合作</a>
            <span class="iconfont icon-tubiaozhizuo-"></span>
            <a class="footer-about-item" href="javascript:void(0)">招聘信息</a>
        </div>
        <div class="footer-content">
            <p class="footer-content-item">Copyright(&#169)2008-2020苏ICP备12000824号版权所有@江阴伍壹零传媒有限公司，未经同意，不得转载 </p>
            <p class="footer-content-item">510法律顾问：江苏春申律师事务所——邵伟洪律师江苏漫修（江阴）律师事务所——周杨律师 </p>
            <p class="footer-content-item">苏公网安备 32028102000004号|增值电信业务经营许可证B2-20110487 </p>
        </div>
        <p class="footer-other">除声明外，本站文章数据内所指面积均为建筑面积</p>
    </div>
    <!--other - 隐藏时只要加上hidden就行  class="other-wrap hidden"-->
    <div class="wmm-other-wrap">
        <div class="other">
            <div class="other-item">
                <img class="other-item-code" src="/public/image/xcx_02.png" alt="code">
                <div>
                    <p class="other-item-title">手机微信扫一扫</p>
                    <p class="other-item-txt">关注510房产小程序，了解更多房源信息</p>
                </div>
            </div>
            <div class="other-item last">
                <img class="other-item-code" src="/public/image/app.png" alt="code">
                <div>
                    <p class="other-item-title">下载510房产APP</p>
                    <p class="other-item-txt">查看更多房源信息</p>
                </div>
            </div>
            <span class="iconfont icon-Close"></span>
        </div>
    </div>
</body>
<script>
    $('.header-tab-item').click(function (e) {
        $('.header-tab-item').removeClass('active');
        $(this).addClass('active')

        $('.header-tab-bar').css({
            transform: 'translateX(' + ($(this).width() / 2 + $(this).position().left) + 'px)'
        })
    })
    $('.areabtn').click(function (e) {
        var areamain = $('.areamain');
        if (areamain.hasClass('active')) {
            areamain.slideDown()
            areamain.removeClass('active')
            $(this).html('- 收起展开')
        } else {
            areamain.slideUp();
            areamain.addClass('active')
            $(this).html('+ 展开更多')
        }
    })
</script>
</html>