<%- include('header.html') -%>
<script src="/javascripts/electronicScreen.js"></script>
<style>
    #app {
        /*max-width: 992px;*/
        margin: 0 auto;
    }

    #time {
        border: 1px solid red;
        height: 500px;
    }

    #list li {
        padding: 10px 20px;
    }
</style>
<body>
<div id="app">
    <div id="time"></div>
    <ul id="list"></ul>
</div>
<script>
    new ElectronicScreen('#time', {
        star_x: 'center',
        star_y: 'center',
        cell: 8,
        long: 2,
        angle: 45,
        gap: 1,
        interval: 10,
        border: false,
    });

    axios.post('/pages/all').then(res => {
        let list = document.querySelector('#list');
        res.data.list.forEach(item => {
            let li = document.createElement(`li`);
            li.innerHTML = `<a href="/pages/${item}">${item}</a>`
            list.append(li);
        })
    })
</script>
</body>
<%- include('footer.html') -%>



