<%- include('header.html') -%>
<body>
<canvas id="canvas" style="border: 1px solid red;"></canvas>
<script>
    let canvas = document.querySelector('#canvas');
    let ctx = canvas.getContext('2d');
    let cw = window.innerWidth;
    let ch = window.innerHeight;
    let cell = 30;
    let points = [];
    let arcPoint = {}
    let count = 0;

    init();
    bindEvent();
    loop();

    function init() {
        cw = window.innerWidth;
        ch = window.innerHeight;
        canvas.width = cw;
        canvas.height = ch;
        canvas.style.width = cw;
        canvas.style.height = ch;

        for (let i = 0; i < 64; i++) {
            points.push(renderCell(i, false))
        }
        {
            let b = Math.sqrt(Math.pow(cell * 3, 2) - Math.pow(1.5 * cell, 2));
            arcPoint = locate(
                    points[3].x - b,
                    points[3].y,
                    points[5].x + b,
                    points[5].y,
                    points[60].x,
                    points[60].y + cell)
        }
    }

    function bindEvent() {
        window.addEventListener('resize', init, false)
    }

    function loop() {
        let requestAnimationFrame = window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                window.msRequestAnimationFrame ||
                window.oRequestAnimationFrame ||
                (fn => setTimeout(fn, 17));
        let cancelAnimationFrame = window.cancelAnimationFrame ||
                window.webkitCancelAnimationFrame ||
                window.mozCancelAnimationFrame ||
                window.msCancelAnimationFrame ||
                window.oCancelAnimationFrame ||
                clearTimeout;

        ctx.clearRect(0, 0, cw, cw);
        update();
        render();
        requestAnimationFrame(loop)
    }

    function update() {
        count += 0.1;

        // let date = new Date();
        // let seconds = date.getSeconds();

        ctx.beginPath();
        let point = renderCell(count % 64, false)
        ctx.fillRect(point.x, point.y, cell, cell)

        ctx.font = '110px sans-serif'
        ctx.textAlign = 'center'
        ctx.textBaseline = 'middle'
        ctx.strokeText(Math.floor(count % 64), cw / 2, ch / 2);
    }

    function render() {
        // ctx.beginPath();
        // ctx.rect(points[0].x, points[0].y, cell * 8, cell * 8);
        // ctx.stroke();
        //
        // ctx.beginPath();
        // ctx.arc(arcPoint.x, arcPoint.y, arcPoint.r, 0, angle(360));
        // ctx.stroke();
        //
        for (let i = 0; i < points.length; i++) {
            renderCell(i);
        }
    }

    // 通过斜边和角度计算领边和对边
    function hypotenuse(long, angle) {
        return {
            a: Math.sin(angle) * long,//邻边
            b: Math.cos(angle) * long//对边
        };
    }

    // 根据三点坐标求圆心和半径
    function locate(x1, y1, x2, y2, x3, y3) {
        let a, b, c, g, e, f;
        let x, y, r;
        a = 2 * (x3 - x2);
        b = 2 * (y3 - y2);
        c = x3 * x3 - x2 * x2 + y3 * y3 - y2 * y2;
        e = 2 * (x2 - x1);
        f = 2 * (y2 - y1);
        g = x2 * x2 - x1 * x1 + y2 * y2 - y1 * y1;
        x = (g * b - c * f) / (e * b - a * f);
        y = (a * g - c * e) / (a * f - b * e);
        r = Math.sqrt((x - x1) * (x - x1) + (y - y1) * (y - y1));
        return {x, y, r};
    }

    // 渲染独立方块
    function renderCell(n, type = true) {
        let point = {
            x: n % 8 * cell + cw / 2 - cell * 4,
            y: Math.floor(n / 8) * cell + ch / 2 - cell * 4,
        }
        if (type) {
            ctx.beginPath();
            ctx.rect(point.x, point.y, cell, cell);
            ctx.stroke();
        }

        // ctx.font = '16px sans-serif'
        // ctx.textAlign = 'center'
        // ctx.textBaseline = 'middle'
        // ctx.strokeText(n, point.x + cell / 2, point.y + cell / 2)

        return point
    }

    // 计算角度
    function angle(n) {
        return Math.PI / 180 * n;
    }


    // 两臂侧伸的长度，与身高等同。
    // 自脑顶至下巴的距离，为身高的八分之一。
    // 从发际到下巴的距离，为身高的十分之一。
    // 肩宽的最大跨度，是身高的四分之一。
    // 手的全长为身高的十分之一。

    // 4指为一掌，
    // 4掌为一脚，
    // 6掌为一腕尺，
    // 4腕尺为一人的身高。
    // 4腕尺又为一跨步，
    // 24掌为人体总长。
    // 胸上到发际，为身高的七分之一。
    // 乳头到脑顶，为身高的四分之一。
    // 臂肘到指根是身高的五分之一，到腋窝夹角是身高的八分之一。

    // 下巴到鼻尖、发际到眉线的距离均与耳长相同，都是脸长的三分之一。
</script>
</body>
<%- include('footer.html') -%>



