@charset "UTF-8";
body {
  color: #606266;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei, SimSun, sans-serif;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #BDBDBD;
}

.iconfont {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: inherit;
}

.color-blue {
  color: #3391FF;
}

.color-red {
  color: #EF5648;
}

.color-gray {
  color: #979797;
}

.mr-15 {
  margin-right: 15px;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

/*nav*/
.nav {
  background: #3391FF;
}
.nav .wrap {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav .nav-left, .nav .nav-right {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav .nav-item {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  height: 44px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.nav .nav-item .nav-item-menu {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform-origin: top center;
  -moz-transform-origin: top center;
  -ms-transform-origin: top center;
  -o-transform-origin: top center;
  transform-origin: top center;
  position: absolute;
  z-index: 99;
  top: 40px;
  left: 50%;
  margin-left: -58px;
  color: #222222;
  text-align: center;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #F3F3F3;
}
.nav .nav-item .nav-item-menu .item {
  width: 116px;
  font-size: 14px;
  padding: 8px 0;
}
.nav .nav-item .nav-item-menu .item:hover {
  color: #3391FF;
}
.nav .nav-item .nav-item-menu .item:first-child {
  position: relative;
}
.nav .nav-item .nav-item-menu .item:first-child:after {
  content: "";
  background-color: transparent;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  bottom: 100%;
  display: inline-block;
  border: 8px solid white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
.nav .nav-item:hover .nav-item-menu {
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  /* IE 9 */
  -moz-transition: all 0.5s;
  /* Firefox */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
  /* Opera */
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.nav .nav-left .nav-item {
  margin-right: 30px;
}
.nav .nav-right .nav-item {
  margin-left: 16px;
}
.nav .nav-right .nav-item .icon-shouji {
  font-size: 15px;
  margin-right: 8px;
}
.nav .nav-right .nav-item .icon-touxiang {
  font-size: 22px;
  margin-right: 8px;
}

/*header*/
.header {
  background: #F5F5F6;
}
.header .header-search {
  padding-top: 23px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header-search .header-logo {
  display: block;
  width: 147px;
  height: 46px;
  margin-right: 21px;
}
.header .header-search .header-input {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px 0 0 3px;
  background-color: white;
  width: 500px;
  overflow: hidden;
}
.header .header-search .header-input input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border: none;
  outline: none;
  text-indent: 18px;
}
.header .header-search .header-input .iconfont {
  font-size: 15px;
  padding: 0 22px;
  cursor: pointer;
}
.header .header-search .header-btn {
  height: 50px;
  width: 127px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.header .header-search .header-btn.btn1 {
  background: #3391FF;
  border-radius: 0 3px 3px 0;
  margin-right: 34px;
}
.header .header-search .header-btn.btn2 {
  background: #FC5A07;
  border-radius: 3px;
}
.header .header-search .header-btn .iconfont {
  margin-right: 8px;
  font-size: 18px;
}
.header .header-search .header-link {
  color: #828282;
  font-size: 12px;
  margin-left: 23px;
  cursor: pointer;
}
.header .header-tab {
  padding-top: 30px;
  padding-bottom: 24px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header-tab .header-tab-item {
  display: block;
  color: #303133;
  font-size: 17px;
  font-weight: 600;
  margin-right: 40px;
  text-decoration: none;
  position: relative;
  padding-bottom: 15px;
}
.header .header-tab .header-tab-item.active {
  color: #3391FF;
}
.header .header-tab .header-tab-item.active:after {
  content: "";
  position: absolute;
  z-index: 9;
  height: 3px;
  width: 60px;
  background: #3391FF;
  left: 50%;
  margin-left: -30px;
  bottom: 0;
}
.header .header-tab .header-tab-item:hover {
  color: #3391FF;
}

.index-header {
  background: #F5F5F6;
}
.index-header .wrap {
  padding-top: 30px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.index-header .header-logo {
  display: block;
  width: 107px;
  height: 95px;
  margin-right: 42px;
}
.index-header .header-main {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.index-header .header-main .header-input {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px 0 0 3px;
  background-color: white;
  width: 648px;
  overflow: hidden;
}
.index-header .header-main .header-input input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border: none;
  outline: none;
  text-indent: 18px;
}
.index-header .header-main .header-input input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #BDBDBD;
}
.index-header .header-main .header-input .iconfont {
  font-size: 15px;
  cursor: pointer;
  margin-right: 7px;
  color: #979797;
}
.index-header .header-main .header-input .icontxt {
  font-size: 14px;
  margin-right: 30px;
  font-weight: 600;
}
.index-header .header-btn {
  height: 50px;
  width: 127px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.index-header .header-btn.btn1 {
  background: #3391FF;
  border-radius: 0 3px 3px 0;
  margin-right: 34px;
}
.index-header .header-btn.btn2 {
  background: #FC5A07;
  border-radius: 3px;
}
.index-header .header-btn .iconfont {
  margin-right: 8px;
  font-size: 15px;
}
.index-header .header-hot {
  padding: 13px 0 15px;
}
.index-header .header-hot a {
  text-decoration: none;
}
.index-header .header-tab {
  padding: 0 16px 16px;
  position: relative;
}
.index-header .header-tab .header-tab-item {
  text-decoration: none;
  color: #979797;
  font-size: 14px;
  margin-right: 24px;
  cursor: pointer;
  font-weight: 600;
}
.index-header .header-tab .header-tab-item.active {
  color: #3391FF;
  font-size: 16px;
}
.index-header .header-tab .header-tab-bar {
  content: "";
  background-color: transparent;
  position: absolute;
  left: 0;
  margin-left: -8px;
  bottom: -1px;
  display: inline-block;
  border: 8px solid white;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  /* IE 9 */
  -moz-transition: all 0.5s;
  /* Firefox */
  -webkit-transition: all 0.5s;
  /* Safari 和 Chrome */
  -o-transition: all 0.5s;
  /* Opera */
  transform: translateX(30px);
  -ms-transform: translateX(30px);
  -moz-transform: translateX(30px);
  -webkit-transform: translateX(30px);
  -o-transform: translateX(30px);
}

/*main*/
.main .wrap {
  height: 500px;
}

/*menu*/
.menu {
  background-color: #F5F5F6;
}
.menu .wrap {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
}
.menu .menu-left {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  border-right: 1px solid #E2E2E2;
}
.menu .menu-left-box {
  margin: 0;
  padding: 0;
  margin-right: 120px;
}
.menu .menu-left-item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.menu .menu-left-item a {
  color: #828282;
  text-decoration: none;
  font-size: 14px;
}
.menu .menu-left-item.title {
  color: #303133;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0;
}
.menu .menu-left-item.active {
  display: inline-block;
  position: relative;
}
.menu .menu-left-item.active .iconfont {
  position: absolute;
  bottom: 70%;
  left: 100%;
  font-size: 10px;
  color: #FC5A07;
}
.menu .menu-left-item.active a {
  color: #FC5A07;
}
.menu .menu-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding-left: 66px;
}
.menu .menu-right-phone {
  color: #3391FF;
  font-size: 24px;
}
.menu .menu-right-time {
  margin-top: 5px;
  margin-bottom: 47px;
}
.menu .menu-right-code {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu .menu-right-code-item {
  color: #606266;
}
.menu .menu-right-code-item img {
  display: block;
  width: 84px;
  height: 84px;
  margin-bottom: 8px;
}

/*footer*/
.footer {
  background-color: #222222;
  text-align: center;
  color: #828282;
  padding-top: 15px;
  padding-bottom: 30px;
}
.footer .footer-about .footer-about-item {
  color: white;
  text-decoration: none;
}
.footer .footer-about .footer-about-item .iconfont {
  margin: 0 20px;
}
.footer .footer-content {
  margin-top: 18px;
}
.footer .footer-content .footer-content-item {
  padding: 0;
  margin: 0;
  line-height: 25px;
}
/*other*/
.other-wrap {
  height: 128px;
}
.other-wrap.hidden {
  display: none;
}

.other {
  height: 128px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.other .other-item {
  margin-right: 120px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.other .other-item.last {
  margin-right: 0;
}
.other .other-item-code {
  display: block;
  width: 82px;
  height: 82px;
  margin-right: 38px;
}
.other .other-item-title {
  color: #303133;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.other .other-item-txt {
  color: #828282;
}
.other .icon-Close {
  color: #BDBDBD;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.other .icon-Close :hover {
  color: #828282;
}

.supermarket {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  background: url("/public/image/bg_header.jpg") no-repeat center;
  background-size: auto 100%;
  padding: 108px 0 259px;
}
.supermarket p {
  padding: 0;
  margin: 0;
  width: 593px;
}
.supermarket .supermarket-mark {
  font-size: 18px;
  margin-bottom: 11px;
}
.supermarket .supermarket-title {
  font-size: 66px;
  margin-bottom: 34px;
  font-weight: 600;
  line-height: 92px;
}
.supermarket .supermarket-search {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 3px;
  overflow: hidden;
}
.supermarket .supermarket-search-main {
  width: 509px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
}
.supermarket .supermarket-search-main .supermarket-input {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 56px;
  text-indent: 18px;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}
.supermarket .supermarket-search-main .supermarket-select {
  width: 100px;
  margin-right: 6px;
  font-size: 14px;
  border: 1px solid #E4E4E4;
  outline: none;
}
.supermarket .supermarket-btn {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  width: 84px;
  height: 56px;
  background-color: #3391FF;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
