$color-brand: #3391FF; //品牌色
$color-success: #67C23A; //成功
$color-warning: #FC5A07; //警告
$color-danger: #F56C6C; //危险
$color-info: #F5F5F6; //提示
$color-white: white; //提示
$color-black: #222222; //提示
$text-color-main: #303133; //主要文字
$text-color-regular: #606266; //常规文字
$text-color-secondary: #828282; //次要文字
$text-color-placeholder: #BDBDBD; //占位文字

$jr-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$jr-shadow-basic: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

@mixin flex {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@mixin justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin justify-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin align-start {
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@mixin align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin align-end {
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@mixin flex-direction-column {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flex-direction-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

body {
    color: $text-color-regular;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei, SimSun, sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.iconfont {
    @include inline-flex;
    @include justify-center;
    @include align-center;
    font-size: inherit;
}

.color-blue {
    color: #3391FF;
}

.color-red {
    color: #EF5648;
}

.color-gray {
    color: #979797;
}

.mr-15 {
    margin-right: 15px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

/*nav*/
.nav {
    background: $color-brand;

    .wrap {
        @include flex;
        @include align-center;
        @include justify-between;
    }

    .nav-left, .nav-right {
        @include flex;
        @include align-center;
    }

    .nav-item {
        @include flex;
        @include align-center;
        @include justify-center;
        position: relative;
        height: 44px;
        color: $color-white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;

        .nav-item-menu {
            transform: scale(0); //
            -webkit-transform: scale(0); //for Chrome || Safari
            -moz-transform: scale(0); //for Firefox
            -ms-transform: scale(0); //for IE
            -o-transform: scale(0); //for Opera

            -webkit-transform-origin: top center;
            -moz-transform-origin: top center;
            -ms-transform-origin: top center;
            -o-transform-origin: top center;
            transform-origin: top center;

            position: absolute;
            z-index: 99;
            top: 40px;
            left: 50%;
            margin-left: -58px;
            color: $color-black;
            text-align: center;
            background-color: $color-white;
            border-radius: 2px;
            border: 1px solid #F3F3F3;

            .item {
                width: 116px;
                font-size: 14px;
                padding: 8px 0;

                &:hover {
                    color: $color-brand;
                }
            }

            .item:first-child {
                position: relative;

                $iconWidth: 8px;

                &:after {
                    content: '';
                    background-color: transparent;
                    position: absolute;
                    left: 50%;
                    margin-left: -$iconWidth;
                    bottom: 100%;
                    display: inline-block;
                    border: $iconWidth solid $color-white;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
            }
        }

        &:hover {
            .nav-item-menu {
                transition: all 0.5s;
                -ms-transition: all 0.5s; /* IE 9 */
                -moz-transition: all 0.5s; /* Firefox */
                -webkit-transition: all 0.5s; /* Safari 和 Chrome */
                -o-transition: all 0.5s; /* Opera */

                transform: scale(1); //
                -webkit-transform: scale(1); //for Chrome || Safari
                -moz-transform: scale(1); //for Firefox
                -ms-transform: scale(1); //for IE
                -o-transform: scale(1); //for Opera
            }
        }
    }

    .nav-left .nav-item {
        margin-right: 30px;
    }

    .nav-right .nav-item {
        margin-left: 16px;

        .icon-shouji {
            font-size: 15px;
            margin-right: 8px;
        }

        .icon-touxiang {
            font-size: 22px;
            margin-right: 8px;
        }
    }
}


/*header*/
.header {
    background: $color-info;

    .header-search {
        padding-top: 23px;
        @include flex;
        @include align-center;

        .header-logo {
            display: block;
            width: 147px;
            height: 46px;
            margin-right: 21px;
        }

        .header-input {
            @include flex;
            @include align-center;
            border-radius: 3px 0 0 3px;
            background-color: $color-white;
            width: 500px;
            overflow: hidden;

            input {
                @include flex-1;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                border: none;
                outline: none;
                text-indent: 18px;

                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: $text-color-placeholder;
                }
            }

            .iconfont {
                font-size: 15px;
                padding: 0 22px;
                cursor: pointer;
            }

        }

        .header-btn {
            height: 50px;
            width: 127px;
            font-size: 16px;
            font-weight: 600;
            color: $color-white;
            @include flex;
            @include align-center;
            @include justify-center;
            cursor: pointer;

            &.btn1 {
                background: $color-brand;
                border-radius: 0 3px 3px 0;
                margin-right: 34px;
            }

            &.btn2 {
                background: $color-warning;
                border-radius: 3px;
            }

            .iconfont {
                margin-right: 8px;
                font-size: 18px;
            }
        }

        .header-link {
            color: $text-color-secondary;
            font-size: 12px;
            margin-left: 23px;
            cursor: pointer;
        }
    }

    .header-tab {
        padding-top: 30px;
        padding-bottom: 40px;
        @include flex;
        @include align-center;

        .header-tab-item {
            display: block;
            color: $text-color-main;
            font-size: 17px;
            font-weight: 600;
            margin-right: 40px;
            text-decoration: none;
            position: relative;
            padding-bottom: 16px;

            &.active {
                color: $color-brand;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 9;
                    height: 3px;
                    width: 60px;
                    background: $color-brand;
                    left: 50%;
                    margin-left: -30px;
                    bottom: 0;
                }
            }

            &:hover {
                color: $color-brand;
            }
        }
    }
}

.index-header {
    background: $color-info;

    .wrap {
        padding-top: 30px;
        @include flex;
        @include align-center;
    }

    .header-logo {
        display: block;
        width: 107px;
        height: 95px;
        margin-right: 42px;
    }

    .header-main {
        @include flex;
        @include align-center;

        .header-input {
            @include flex;
            @include align-center;
            border-radius: 3px 0 0 3px;
            background-color: $color-white;
            width: 648px;
            overflow: hidden;

            input {
                @include flex-1;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                border: none;
                outline: none;
                text-indent: 18px;

                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: $text-color-placeholder;
                }
            }

            .iconfont {
                font-size: 15px;
                cursor: pointer;
                margin-right: 7px;
                color: #979797;
            }

            .icontxt {
                font-size: 14px;
                margin-right: 30px;
                font-weight: 600;
            }

        }
    }

    .header-btn {
        height: 50px;
        width: 127px;
        font-size: 16px;
        font-weight: 600;
        color: $color-white;
        @include flex;
        @include align-center;
        @include justify-center;
        cursor: pointer;

        &.btn1 {
            background: $color-brand;
            border-radius: 0 3px 3px 0;
            margin-right: 34px;
        }

        &.btn2 {
            background: $color-warning;
            border-radius: 3px;
        }

        .iconfont {
            margin-right: 8px;
            font-size: 15px;
        }
    }

    .header-hot {
        padding: 13px 0 10px;

        a {
            text-decoration: none;
        }
    }

    .header-tab {
        padding: 0 16px 16px;
        position: relative;

        .header-tab-item {
            text-decoration: none;
            color: #979797;
            font-size: 14px;
            margin-right: 24px;
            cursor: pointer;
            font-weight: 600;

            &.active {
                color: $color-brand;
                font-size: 16px;
            }
        }

        $iconWidth: 8px;

        .header-tab-bar {
            content: "";
            background-color: transparent;
            position: absolute;
            left: 0;
            margin-left: -$iconWidth;
            bottom: -1px;
            display: inline-block;
            border: $iconWidth solid $color-white;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;

            transition: all 0.5s;
            -ms-transition: all 0.5s; /* IE 9 */
            -moz-transition: all 0.5s; /* Firefox */
            -webkit-transition: all 0.5s; /* Safari 和 Chrome */
            -o-transition: all 0.5s; /* Opera */

            transform: translateX(30px);
            -ms-transform: translateX(30px);
            -moz-transform: translateX(30px);
            -webkit-transform: translateX(30px);
            -o-transform: translateX(30px);
        }
    }
}

/*main*/
.main {
    .wrap {
        height: 500px;
    }
}

/*menu*/
.menu {
    background-color: $color-info;

    .wrap {
        @include flex;
        @include justify-between;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .menu-left {
        @include flex;
        border-right: 1px solid #E2E2E2;
    }

    .menu-left-box {
        margin: 0;
        padding: 0;
        margin-right: 120px;
    }

    .menu-left-item {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 15px;

        a {

            color: $text-color-secondary;
            text-decoration: none;
            font-size: 14px;
        }

        &.title {
            color: $text-color-main;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            margin-top: 0;
        }

        &.active {
            display: inline-block;
            position: relative;

            .iconfont {
                position: absolute;
                bottom: 70%;
                left: 100%;
                font-size: 10px;
                color: $color-warning;
            }

            a {
                color: $color-warning;
            }
        }
    }

    .menu-right {
        @include flex-1;
        text-align: center;
        padding-left: 66px;
    }

    .menu-right-phone {
        color: $color-brand;
        font-size: 24px;
    }

    .menu-right-time {
        margin-top: 5px;
        margin-bottom: 47px;
    }

    .menu-right-code {
        @include flex;
        @include justify-between;

    }

    .menu-right-code-item {
        color: $text-color-regular;

        img {
            display: block;
            width: 84px;
            height: 84px;
            margin-bottom: 8px;
        }
    }
}

/*footer*/
.footer {
    background-color: $color-black;
    text-align: center;
    color: $text-color-secondary;
    padding-top: 15px;
    padding-bottom: 30px;

    .footer-about {
        .footer-about-item {
            color: $color-white;
            text-decoration: none;

            .iconfont {
                margin: 0 20px;
            }
        }
    }

    .footer-content {
        margin-top: 18px;

        .footer-content-item {
            padding: 0;
            margin: 0;
            line-height: 25px;
        }
    }

    .footer-other {
    }
}

/*other*/
$otherHeight: 128px;
.other-wrap {
    height: $otherHeight;

    &.hidden {
        display: none;
    }
}

.other {
    height: $otherHeight;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;

    @include flex;
    @include align-center;
    @include justify-center;
    background-color: $color-white;
    box-shadow: $jr-shadow-basic;

    .other-item {
        margin-right: 120px;
        @include flex;
        @include align-center;

        &.last {
            margin-right: 0;
        }
    }

    .other-item-code {
        display: block;
        width: 82px;
        height: 82px;
        margin-right: 38px;
    }

    .other-item-title {
        color: $text-color-main;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
    }

    .other-item-txt {
        color: $text-color-secondary;
    }

    .icon-Close {
        color: $text-color-placeholder;
        font-size: 16px;
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;

        :hover {
            color: $text-color-secondary;
        }
    }
}