$color-brand: #3391FF; //品牌色
$color-success: #67C23A; //成功
$color-warning: #FC5A07; //警告
$color-danger: #F56C6C; //危险
$color-info: #F5F5F6; //提示
$color-white: white; //提示
$color-black: #222222; //提示
$text-color-main: #303133; //主要文字
$text-color-regular: #606266; //常规文字
$text-color-secondary: #828282; //次要文字
$text-color-placeholder: #BDBDBD; //占位文字

$jr-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$jr-shadow-basic: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

@mixin flex {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@mixin justify-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin justify-end {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -moz-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin align-start {
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

@mixin align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -moz-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin align-end {
    -webkit-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

@mixin flex-direction-column {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@mixin flex-direction-row {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@mixin transition {
    transition: all 0.5s;
    -ms-transition: all 0.5s; /* IE 9 */
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari 和 Chrome */
    -o-transition: all 0.5s; /* Opera */
}

body {
    color: $text-color-regular;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei, SimSun, sans-serif;
}

ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: $text-color-placeholder;
}

.iconfont {
    @include inline-flex;
    @include justify-center;
    @include align-center;
    font-size: inherit;
}

.color-blue {
    color: #3391FF;
}

.color-red {
    color: #EF5648 !important;
}

.color-gray {
    color: #979797;
}

.color-green {
    color: rgb(108, 159, 29);
}

.font-bolder {
    font-weight: bolder;
}

.mr-15 {
    margin-right: 15px;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

.text_ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*nav*/
.wmm-nav {
    background: $color-brand;

    .wrap {
        @include flex;
        @include align-center;
        @include justify-between;
    }

    .nav-left, .nav-right {
        @include flex;
        @include align-center;
    }

    .nav-item {
        @include flex;
        @include align-center;
        @include justify-center;
        position: relative;
        height: 44px;
        color: $color-white;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;

        .nav-item-txt {
            color: #ffffff;
            text-decoration: none;
        }

        .nav-item-menu {
            transform: scale(0); //
            -webkit-transform: scale(0); //for Chrome || Safari
            -moz-transform: scale(0); //for Firefox
            -ms-transform: scale(0); //for IE
            -o-transform: scale(0); //for Opera

            -webkit-transform-origin: top center;
            -moz-transform-origin: top center;
            -ms-transform-origin: top center;
            -o-transform-origin: top center;
            transform-origin: top center;

            position: absolute;
            z-index: 99;
            top: 40px;
            left: 50%;
            margin-left: -58px;
            color: $color-black;
            text-align: center;
            background-color: $color-white;
            border-radius: 2px;
            border: 1px solid #F3F3F3;

            .item {
                width: 116px;
                font-size: 14px;
                padding: 8px 0;

                .nav-item-menu-link {
                    color: $color-black;
                    text-decoration: none;
                    display: inline;

                    &:hover {
                        color: $color-brand;
                    }
                }
            }

            .item:first-child {
                position: relative;

                $iconWidth: 8px;

                &:after {
                    content: '';
                    background-color: transparent;
                    position: absolute;
                    left: 50%;
                    margin-left: -$iconWidth;
                    bottom: 100%;
                    display: inline-block;
                    border: $iconWidth solid $color-white;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-right-color: transparent;
                }
            }
        }

        &:hover {
            .nav-item-menu {
                @include transition;

                transform: scale(1); //
                -webkit-transform: scale(1); //for Chrome || Safari
                -moz-transform: scale(1); //for Firefox
                -ms-transform: scale(1); //for IE
                -o-transform: scale(1); //for Opera
            }
        }
    }

    .nav-left .nav-item {
        margin-right: 30px;
    }

    .nav-right .nav-item {
        margin-left: 16px;

        .icon-phone {
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: auto;
            margin-right: 8px;
        }

        .icon-touxiang {
            font-size: 22px;
            margin-right: 8px;
        }
    }
}

/*header*/
.wmm-header {
    background: $color-info;

    .header-search {
        padding-top: 23px;
        @include flex;
        @include align-center;

        .header-logo {
            display: block;
            width: 147px;
            height: 46px;
            margin-right: 21px;
        }

        .header-input {
            @include flex;
            @include align-center;
            border-radius: 3px 0 0 3px;
            background-color: $color-white;
            width: 500px;
            overflow: hidden;

            input {
                @include flex-1;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                border: none;
                outline: none;
                text-indent: 18px;
            }

            .iconfont {
                font-size: 15px;
                padding: 0 22px;
                cursor: pointer;
            }

        }

        .header-btn {
            height: 50px;
            width: 127px;
            font-size: 16px;
            font-weight: 600;
            color: $color-white;
            @include flex;
            @include align-center;
            @include justify-center;
            cursor: pointer;

            &.btn1 {
                background: $color-brand;
                border-radius: 0 3px 3px 0;
                margin-right: 34px;
            }

            &.btn2 {
                background: $color-warning;
                border-radius: 3px;
            }

            .iconfont {
                margin-right: 8px;
                font-size: 18px;
            }
        }

        .header-link {
            color: $text-color-secondary;
            font-size: 12px;
            margin-left: 23px;
            cursor: pointer;
        }
    }

    .header-tab {
        padding-top: 30px;
        padding-bottom: 24px;
        @include flex;
        @include align-center;

        .header-tab-item {
            display: block;
            color: $text-color-main;
            font-size: 17px;
            font-weight: 600;
            margin-right: 40px;
            text-decoration: none;
            position: relative;
            padding-bottom: 15px;

            &.active {
                color: $color-brand;

                &:after {
                    content: '';
                    position: absolute;
                    z-index: 9;
                    height: 3px;
                    width: 60px;
                    background: $color-brand;
                    left: 50%;
                    margin-left: -30px;
                    bottom: 0;
                }
            }

            &:hover {
                color: $color-brand;
            }
        }
    }
}

/*header2*/
.wmm-index-header {
    background: $color-info;

    .wrap {
        padding-top: 30px;
        @include flex;
        @include align-start;
    }

    .header-logo {
        display: block;
        width: 107px;
        height: 95px;
        margin-right: 42px;
    }

    .header-main {
        @include flex;
        @include align-center;

        .header-input {
            @include flex;
            @include align-center;
            border-radius: 3px 0 0 3px;
            background-color: $color-white;
            width: 648px;
            overflow: hidden;

            input {
                @include flex-1;
                height: 50px;
                line-height: 50px;
                font-size: 14px;
                border: none;
                outline: none;
                text-indent: 18px;

                &::-webkit-input-placeholder { /* WebKit browsers */
                    color: $text-color-placeholder;
                }
            }

            .iconfont {
                font-size: 15px;
                cursor: pointer;
                margin-right: 7px;
                color: #979797;
            }

            .icontxt {
                font-size: 14px;
                margin-right: 30px;
                font-weight: 600;
            }

        }
    }

    .header-btn {
        height: 50px;
        width: 127px;
        font-size: 16px;
        font-weight: 600;
        color: $color-white;
        @include flex;
        @include align-center;
        @include justify-center;
        cursor: pointer;

        &.btn1 {
            background: $color-brand;
            border-radius: 0 3px 3px 0;
            margin-right: 34px;
        }

        &.btn2 {
            background: $color-warning;
            border-radius: 3px;
        }

        .iconfont {
            margin-right: 8px;
            font-size: 15px;
        }
    }

    .header-hot {
        padding: 13px 0 15px;

        a {
            text-decoration: none;
        }
    }

    .header-tab {
        padding: 0 16px 16px;
        position: relative;

        .header-tab-item {
            text-decoration: none;
            color: #979797;
            font-size: 14px;
            margin-right: 24px;
            cursor: pointer;
            font-weight: 600;

            &.active {
                color: $color-brand;
                font-size: 16px;
            }
        }

        $iconWidth: 8px;

        .header-tab-bar {
            content: "";
            background-color: transparent;
            position: absolute;
            left: 0;
            margin-left: -$iconWidth;
            bottom: -1px;
            display: inline-block;
            border: $iconWidth solid $color-white;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;

            @include transition;

            transform: translateX(30px);
            -ms-transform: translateX(30px);
            -moz-transform: translateX(30px);
            -webkit-transform: translateX(30px);
            -o-transform: translateX(30px);
        }
    }
}

/*menu*/
.wmm-menu {
    background-color: $color-info;

    .wrap {
        @include flex;
        @include justify-between;
        padding-top: 45px;
        padding-bottom: 45px;
    }

    .menu-left {
        @include flex;
        border-right: 1px solid #E2E2E2;
    }

    .menu-left-box {
        margin: 0;
        padding: 0;
        margin-right: 120px;
    }

    .menu-left-item {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 15px;

        a {

            color: $text-color-secondary;
            text-decoration: none;
            font-size: 14px;
        }

        &.title {
            color: $text-color-main;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 5px;
            margin-top: 0;
        }

        &.active {
            display: inline-block;
            position: relative;

            .iconfont {
                position: absolute;
                bottom: 70%;
                left: 100%;
                font-size: 10px;
                color: $color-warning;
            }

            a {
                color: $color-warning;
            }
        }
    }

    .menu-right {
        @include flex-1;
        text-align: center;
        padding-left: 66px;
    }

    .menu-right-phone {
        color: $color-brand;
        font-size: 24px;
    }

    .menu-right-time {
        margin-top: 5px;
        margin-bottom: 47px;
    }

    .menu-right-code {
        @include flex;
        @include justify-between;

    }

    .menu-right-code-item {
        color: $text-color-regular;

        img {
            display: block;
            width: 84px;
            height: 84px;
            margin-bottom: 8px;
        }
    }
}

/*footer*/
.wmm-footer {
    background-color: $color-black;
    text-align: center;
    color: $text-color-secondary;
    padding-top: 15px;
    padding-bottom: 30px;

    .footer-about {
        .footer-about-item {
            color: $color-white;
            text-decoration: none;

            .iconfont {
                margin: 0 20px;
            }
        }
    }

    .footer-content {
        margin-top: 18px;

        .footer-content-item {
            padding: 0;
            margin: 0;
            line-height: 25px;
        }
    }

    .footer-other {
    }
}

/*other*/
$otherHeight: 128px;
.wmm-other-wrap {
    height: $otherHeight;

    &.hidden {
        display: none;
    }

    .other {
        height: $otherHeight;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 999;

        @include flex;
        @include align-center;
        @include justify-center;
        background-color: $color-white;
        box-shadow: $jr-shadow-basic;

        .other-item {
            margin-right: 120px;
            @include flex;
            @include align-center;

            &.last {
                margin-right: 0;
            }
        }

        .other-item-code {
            display: block;
            width: 82px;
            height: 82px;
            margin-right: 38px;
        }

        .other-item-title {
            color: $text-color-main;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .other-item-txt {
            color: $text-color-secondary;
        }

        .icon-Close {
            color: $text-color-placeholder;
            font-size: 16px;
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;

            :hover {
                color: $text-color-secondary;
            }
        }
    }
}

.wmm-supermarket {
    @include flex;
    @include align-center;
    @include justify-center;
    @include flex-direction-column;
    color: $color-white;
    background: url("/public/image/bg_header.png") no-repeat center;
    background-size: auto 100%;
    padding: 108px 0 259px;

    p {
        padding: 0;
        margin: 0;
        width: 593px;
    }

    .supermarket-mark {
        font-size: 18px;
        margin-bottom: 11px;
    }

    .supermarket-title {
        font-size: 66px;
        margin-bottom: 34px;
        font-weight: 600;
        line-height: 92px;
    }

    .supermarket-search {
        @include flex;
        @include align-center;
        border-radius: 3px;
        overflow: hidden;
    }

    .supermarket-search-main {
        width: 509px;
        @include flex;
        @include align-center;
        background-color: $color-white;

        .supermarket-input {
            @include flex-1;
            height: 56px;
            text-indent: 18px;
            border: none;
            outline: none;
            padding: 0;
            margin: 0;
        }

        .supermarket-select {
            width: 100px;
            margin-right: 6px;
            font-size: 14px;
            border: 1px solid #E4E4E4;
            outline: none;
        }
    }

    .supermarket-btn {
        @include flex;
        @include align-center;
        @include justify-center;
        text-decoration: none;
        width: 84px;
        height: 56px;
        background-color: $color-brand;
        color: #ffffff;
    }
}

.wmm-second {
    padding: 20px 0;

    .wrap {
        width: 1168px;
    }

    .second-search {
        padding: 15px;
        border: 1px solid #EDEEF0;
        background-color: #FDFBFC;
        font-size: 0;
        font-size: 12px;

        .second-search-main-item {
            display: block;
            width: 50px;
            height: 22px;
            line-height: 22px;
            color: #303035;
            cursor: pointer;
            text-decoration: none;

            &.active {
                color: $color-brand;
            }
        }

        .second-search-wrap {
            @include flex;
            @include align-start;
            margin-bottom: 10px;

            .second-search-title {
                font-weight: bold;
                width: 60px;
                line-height: 22px;
                color: #979797;
            }

            .second-search-main {
                max-width: 840px;
                @include flex;
                @include align-center;
                @include flex-wrap;

                input[type="checkbox"] {
                    display: none;
                }

                .second-search-item {
                    @include flex;
                    @include align-center;
                    width: 110px;
                    height: 22px;
                    line-height: 22px;
                    color: #303035;
                    cursor: pointer;

                    .checkbox {
                        display: inline-block;
                        width: 12px;
                        height: 12px;
                        border: 1px solid #C7CED1;
                        background: rgb(246, 246, 247);
                        margin-right: 5px;
                        vertical-align: text-top;
                        position: relative;
                    }
                }

                input[type="checkbox"]:checked + .second-search-item {
                    color: $color-brand;
                    font-weight: 700;

                    .checkbox:after {
                        content: '';
                        position: absolute;
                        width: 4px;
                        height: 8px;
                        color: black;
                        border-bottom: 2px solid $color-brand;
                        border-right: 2px solid $color-brand;
                        left: 50%;
                        top: 20%;
                        transform-origin: center;
                        transform: translate(-50%, -30%) rotate(40deg);
                        -webkit-transform: translate(-50%, -30%) rotate(40deg);
                    }
                }
            }

            .second-search-tool {
                .second-search-link {
                    color: #A7A8A9;
                    cursor: pointer;
                    height: 22px;
                    line-height: 22px;
                }

                .second-search-input {
                    width: 45px;
                    height: 20px;
                    background: rgb(255, 255, 255);
                    border: 1px solid rgb(236, 236, 241);
                    padding: 0 3px;
                }

                .second-search-btn {
                    width: 51px;
                    height: 20px;
                    background: $color-brand;
                    color: #fff;
                    margin-left: 10px;
                    border: none;
                }
            }
        }

        .second-search-other {
            border-top: 1px solid #F1F1F1;
            border-bottom: 1px solid #F1F1F1;
            @include align-center;

            .second-search-main {
                max-width: none;

                .second-search-item {
                    @include flex;
                    @include justify-center;
                    @include align-center;
                    width: 90px;
                    height: 50px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:hover {
                        background-color: rgb(241, 241, 241);
                        font-weight: 600;
                    }

                    .iconfont {
                        font-size: 10px;
                        color: $text-color-secondary;
                        margin-left: 4px;
                    }

                    &.active {
                        color: $color-brand;
                        font-weight: 600;
                    }
                }

            }
        }

        .second-search-more {
            margin-bottom: 0;
            padding: 0 15px;
        }
    }

    .second-body {
        @include flex;
        @include justify-between;
        margin: 30px 0;

        .second-body-left {
            @include flex-1;

            .second-body-tab-wrap, .second-body-search, .second-body-title {
                @include flex;
                @include align-center;
                @include justify-between;
            }


            .second-body-title {
                margin-bottom: 40px;

                .second-body-title-left {
                    font-size: 22px;
                    color: #101d37;
                    font-weight: 700;
                }

                .second-body-title-right {
                    color: $color-warning;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .second-body-search-left {
                @include flex;
                @include align-center;
            }

            .second-body-tab-wrap {
                border-bottom: 2px solid $color-brand;

                .second-body-tab {
                    @include flex;
                    @include align-center;
                    @include justify-start;
                }

                .second-body-tab-item {
                    height: 36px;
                    line-height: 36px;
                    width: 120px;
                    padding: 0 10px;
                    font-weight: bold;
                    text-align: center;
                    font-size: 16px;
                    color: #2d374b;
                    text-decoration: none;

                    &.active {
                        background: $color-brand;
                        color: #fff;
                        border-color: $color-brand;
                    }
                }

                .second-body-type {
                    .iconfont {
                        text-decoration: none;
                        color: #222222;

                        font-size: 15px;
                        margin-left: 10px;
                        cursor: pointer;

                        &.active{
                            color: $color-brand;
                        }
                    }
                }
            }

            .second-body-search {
                height: 56px;
                border-bottom: 1px solid #eee;

                .second-search-main {
                    @include flex;
                    @include align-center;
                    @include flex-wrap;

                    input[type="checkbox"] {
                        display: none;
                    }

                    .second-search-item {
                        @include flex;
                        @include align-center;
                        height: 22px;
                        line-height: 22px;
                        color: #303035;
                        cursor: pointer;

                        margin-right: 10px;

                        .checkbox {
                            display: inline-block;
                            width: 12px;
                            height: 12px;
                            border: 1px solid #C7CED1;
                            background: rgb(246, 246, 247);
                            margin-right: 5px;
                            vertical-align: text-top;
                            position: relative;
                        }
                    }

                    input[type="checkbox"]:checked + .second-search-item {
                        color: $color-brand;
                        font-weight: 700;

                        .checkbox:after {
                            content: '';
                            position: absolute;
                            width: 4px;
                            height: 8px;
                            color: black;
                            border-bottom: 2px solid $color-brand;
                            border-right: 2px solid $color-brand;
                            left: 50%;
                            top: 20%;
                            transform-origin: center;
                            transform: translate(-50%, -30%) rotate(40deg);
                            -webkit-transform: translate(-50%, -30%) rotate(40deg);
                        }
                    }
                }

                .second-body-search-right {
                    @include flex;
                    @include align-center;
                }

                .second-body-search-right-item {
                    color: #2d374b;
                    text-decoration: none;
                    height: 20px;
                    line-height: 20px;
                    padding-right: 20px;
                    //padding-left: 10px;
                    background: url(/public/image/esf_order_icon.gif) no-repeat right -42px;
                    cursor: pointer;
                    overflow: hidden;
                    margin-left: 5px;

                    span {
                        display: inline-block;
                        height: 20px;
                        padding-left: 10px;
                        background: url(/public/image/esf_order_icon.gif) no-repeat 0 -42px;
                    }

                    &.i-downs {
                        background-position: right 0;
                    }

                    &.i-ups {
                        background-position: right -21px;
                    }
                }
            }


            .second-body-list {
                .second-body-item {
                    @include flex;
                    @include align-center;
                    padding: 20px 0;
                    border-bottom: 1px solid #eee;
                    overflow: hidden;

                    .second-body-item-icon {
                        position: relative;

                        img {
                            display: block;
                            width: 180px;
                            height: 150px;
                            margin-right: 15px;
                        }
                    }

                    .second-body-item-txt {
                        @include flex-1;
                        line-height: 24px;
                        font-size: 12px;
                        color: #9399A5;

                        .second-body-item-title {
                            display: block;
                            color: #2c2c2c;
                            font-size: 22px;
                            font-weight: 700;
                            margin-bottom: 36px;
                            text-decoration: none;

                            word-break: break-all;
                            display: -webkit-box;
                            overflow: hidden;
                            line-height: 1.2;
                            text-overflow: ellipsis;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;

                            &:hover {
                                color: $color-brand;
                                text-decoration: underline;
                            }

                            .pic {
                                display: inline-block;
                                vertical-align: text-top;
                                width: 24px;
                                height: 24px;
                                font-size: 14px;
                                line-height: 24px;
                                text-align: center;
                                border-radius: 2px;
                                font-weight: normal;
                                background-color: #849AAE;
                                color: #fff;
                                margin-top: 2px;
                            }
                        }

                        .second-body-item-tag {
                            margin: 10px 0;

                            .tag {
                                display: inline-block;
                                color: #849AAE;
                                width: 70px;
                                height: 24px;
                                text-align: center;
                                background: rgb(242, 245, 247);
                                border-radius: 2px;
                                margin-right: 5px;
                            }

                            .vrfang {
                                width: 75px;
                                height: 22px;
                                display: block;
                                float: left;
                                padding-left: 19px;
                                text-align: center;
                                background: url(/public/image/icon_vr.png) no-repeat;
                                background-size: 19px;
                                border: 1px solid #13c56c;
                                margin-right: 5px;
                            }

                            .danbao {
                                width: 75px;
                                height: 22px;
                                display: block;
                                float: left;
                                padding-left: 19px;
                                text-align: center;
                                background: url(/public/image/icon_dan.png) no-repeat;
                                background-size: 19px;
                                border: 1px solid #fe615a;
                            }
                        }
                    }

                    .second-body-item-m {
                        span {
                            display: inline-block;
                            width: 110px;
                            font-size: 20px;
                            font-family: Microsoft YaHei;
                            font-weight: bold;
                            color: $color-warning;
                            text-align: center;
                        }
                    }

                    .second-body-item-mon {
                        width: 140px;
                        text-align: center;
                        line-height: 25px;

                        .color-red {
                            color: $color-warning;
                            font-size: 26px;
                            font-weight: bold;
                        }
                    }
                }
            }

            .second-body-list2 {
                .second-body-item {
                    ul {
                        @include flex;
                        @include align-center;

                        //border-bottom: 1px solid #ddd;
                        //background: #F5F5F5;
                        //font-weight: 700;
                        height: 66px;
                        border-bottom: 1px dashed #eeeeee;
                    }

                    .te {
                        @include flex;
                        @include align-center;
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 30px;

                        width: 350px;
                        padding-left: 40px;
                        padding-right: 40px;
                        background: url(/public/image/zj.gif) no-repeat 0px 8px;

                        .vr {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background: url(/public/image/tupic-vr.png) no-repeat 0 3px;
                            margin-left: 3px;
                            vertical-align: middle;
                        }

                        .tu {
                            display: inline-block;
                            width: 20px;
                            height: 20px;
                            background: url(/public/image/tupic-blue.png) no-repeat 0 4px;
                            margin-left: 5px;
                            font-size: 0px;
                            vertical-align: middle;
                        }

                        .text_ellipsis {
                            display: inline-block;
                            max-width: 253px;
                            vertical-align: middle;
                        }

                        .color-green {
                            color: rgb(108, 159, 29);
                            margin-right: 10px;
                        }
                    }

                    .mjw {
                        width: 80px;
                    }

                    .lcw {
                        width: 80px;
                    }

                    .jgw {
                        width: 90px;
                    }

                    .fxw {
                        width: 110px;
                    }

                    .zxw {
                        width: 60px;
                    }

                    .sjw {
                        width: 60px;
                    }

                    a {
                        color: #2d374b;
                        text-decoration: none;

                        &:hover {
                            color: $color-warning;
                            text-decoration: underline;
                        }
                    }

                    .second-body-item-title {
                        border-bottom: 1px solid #ddd;
                        background: #F5F5F5;
                        font-weight: 700;
                        height: 30px;

                        .te {
                            font-weight: bold;
                            font-size: 13px;
                            line-height: 30px;
                            display: inline-block;

                            background: none;
                        }
                    }
                }


            }

            .second-body-pages {
                @include flex;
                @include align-center;
                @include justify-end;
                height: 46px;
                color: $color-warning;

                .page-item {
                    display: inline-block;
                    height: 18px;
                    line-height: 18px;
                    vertical-align: top;
                    color: #707070;
                    font-weight: bold;
                    margin: 0 3px;
                    padding: 4px 8px;
                    background: #fff;
                    border: 1px solid #ddd;
                    overflow: hidden;
                    text-decoration: none;

                    &.active {
                        color: $color-warning;
                        border: 1px solid $color-warning;
                    }

                    &:hover {
                        border: 1px solid $color-warning;
                    }

                    .color-red {
                        color: $color-warning;
                    }
                }
            }

            .second-body-hot {
                border-top: 1px solid #eee;
                margin-top: 10px;

                .second-body-hot-title {
                    @include flex;
                    @include align-center;
                    @include justify-between;

                    .left {
                        display: inline-block;
                        border: 1px solid #ddd;
                        border-top: none;
                        background: #fff;
                        color: #000;
                        padding: 0 10px;
                        font-weight: 700;
                        line-height: 26px;
                    }

                    .right {
                        font-weight: normal;
                        padding-right: 5px;
                        color: #F00;
                    }
                }

                .second-body-hot-list {
                    padding: 5px 6px;
                    @include flex;
                    @include align-center;
                    @include flex-wrap;

                    .second-body-hot-item {
                        width: 84px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 12px;
                        margin-right: 5px;

                        a {
                            text-decoration: none;
                            color: #2d374b;

                            &:hover {
                                color: $color-warning;
                                text-decoration: underline;
                            }
                        }

                        span {
                            color: #999;
                        }

                    }
                }
            }
        }

        .second-body-right {
            width: 230px;
            margin-left: 20px;

            .second-body-right-ad, .second-body-right-list {
                //

            }

            .second-body-right-ad {

                .second-body-right-title {
                    background: $color-brand;
                    display: block;
                    height: 43px;
                    line-height: 43px;
                    font-size: 20px;
                    text-align: center;
                    color: #FFF;
                    text-decoration: none;
                }

                .second-body-right-img {
                    display: block;
                    width: 100%;
                    position: relative;
                }

                .second-body-right-txt {
                    font-size: 12px;
                    line-height: 20px;
                }
            }

            .second-body-right-list {
                .second-body-right-list-title {
                    font-size: 16px;
                    line-height: 30px;
                    color: #333;
                    font-weight: bold;
                    margin: 25px 0 10px 0
                }

                .second-body-right-item {
                    padding: 10px 0;

                    .second-body-right-img {
                        display: block;
                        height: 150px;
                        overflow: hidden;
                        position: relative;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }

                    .second-body-right-name {
                        font-size: 16px;
                        font-family: Microsoft YaHei;
                        font-weight: bold;
                        color: rgb(16, 29, 55);
                        line-height: 27px;
                    }

                    .second-body-right-mark {
                        font-size: 14px;
                        font-family: Microsoft YaHei;
                        font-weight: 400;
                        color: rgb(147, 153, 165);
                        line-height: 27px;
                    }

                    .second-body-right-price {
                        font-size: 16px;
                        font-family: Microsoft YaHei;
                        font-weight: 400;
                        color: rgb(254, 93, 85);
                        line-height: 20px;
                    }
                }
            }
        }
    }
}

.vr-animation-forever {
    width: 42px;
    height: 42px;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    line-height: 31px;
    background: rgba(0, 0, 0, .6);
    border-radius: 100px;
    background: url(/public/image/vr_animation.png);
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid hsla(0, 0%, 100%, .8);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    -webkit-animation: vr 3s steps(80) infinite;
    animation: vr 3s steps(80) infinite;

    &.vricon{
        width: 28px;
        height: 28px;
        left: 10px;
        bottom: 10px;
        top: auto;
        margin-left: 0;
        margin-top: 0;
    }
}

.play_btn{
    position: absolute;
    left: 47px;
    bottom: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 0;
    background: url(/public/image/playiconSamll.png) 0 0 no-repeat;
    z-index: 1;
}

@-webkit-keyframes vr {
    to {
        background-position-y: 100%
    }
}

@keyframes vr {
    to {
        background-position-y: 100%
    }
}