body {
  color: #606266;
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC, Microsoft YaHei, SimSun, sans-serif;
}

.iconfont {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: inherit;
}

.wrap {
  width: 1200px;
  margin: 0 auto;
}

/*nav*/
.nav {
  background: #3391FF;
}
.nav .wrap {
  height: 44px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.nav .nav-item {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.nav .nav-left .nav-item {
  margin-right: 30px;
}
.nav .nav-right .nav-item {
  margin-left: 16px;
}
.nav .nav-right .nav-item .iconfont {
  font-size: 18px;
}

/*header*/
.header {
  background: #F5F5F6;
}
.header .header-search {
  padding-top: 23px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header-search .header-logo {
  display: block;
  width: 147px;
  height: 46px;
  margin-right: 21px;
}
.header .header-search .header-input {
  display: block;
  width: 500px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border: none;
  /*outline: none;*/
  text-indent: 18px;
  border-radius: 3px 0 0 3px;
}
.header .header-search .header-input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #BDBDBD;
}
.header .header-search .header-btn {
  height: 50px;
  width: 127px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.header .header-search .header-btn.btn1 {
  background: #3391FF;
  border-radius: 0 3px 3px 0;
  margin-right: 34px;
}
.header .header-search .header-btn.btn2 {
  background: #FC5A07;
  border-radius: 3px;
}
.header .header-search .header-btn .iconfont {
  margin-right: 9px;
  font-size: 18px;
}
.header .header-tab {
  padding-top: 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .header-tab .header-tab-item {
  display: block;
  color: #303133;
  font-size: 17px;
  font-weight: 600;
  margin-right: 40px;
  text-decoration: none;
  position: relative;
  padding-bottom: 16px;
}
.header .header-tab .header-tab-item.active {
  color: #3391FF;
}
.header .header-tab .header-tab-item.active:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 60px;
  background: #3391FF;
  left: 50%;
  margin-left: -30px;
  bottom: 0;
}
.header .header-tab .header-tab-item:hover {
  color: #3391FF;
}

/*main*/
.main .wrap {
  height: 500px;
}

/*menu*/
.menu {
  background-color: #F5F5F6;
}
.menu .wrap {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
}
.menu .menu-left {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  border-right: 1px solid #E2E2E2;
}
.menu .menu-left-box {
  margin: 0;
  padding: 0;
  margin-right: 120px;
}
.menu .menu-left-item {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}
.menu .menu-left-item a {
  color: #828282;
  text-decoration: none;
  font-size: 14px;
}
.menu .menu-left-item.title {
  color: #303133;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 0;
}
.menu .menu-left-item.active {
  position: relative;
}
.menu .menu-left-item.active:after {
  content: "new";
  position: absolute;
  border: aliceblue;
  top: -5px;
  right: 2px;
  font-size: 10px;
  background: #FC5A07;
  color: white;
  padding: 0 3px;
  border-radius: 2px;
  font-style: italic;
  vertical-align: middle;
}
.menu .menu-left-item.active a {
  color: #FC5A07;
}
.menu .menu-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding-left: 66px;
}
.menu .menu-right-phone {
  color: #3391FF;
  font-size: 24px;
}
.menu .menu-right-time {
  margin-top: 5px;
  margin-bottom: 47px;
}
.menu .menu-right-code {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu .menu-right-code-item {
  color: #606266;
}
.menu .menu-right-code-item img {
  display: block;
  width: 84px;
  height: 84px;
  margin-bottom: 8px;
}

/*footer*/
.footer {
  background-color: #222222;
  text-align: center;
  color: #828282;
  padding-top: 15px;
  padding-bottom: 30px;
}
.footer .footer-about .footer-about-item {
  color: white;
  text-decoration: none;
}
.footer .footer-about .footer-about-item .iconfont {
  margin: 0 20px;
}
.footer .footer-content {
  margin-top: 18px;
}
.footer .footer-content .footer-content-item {
  padding: 0;
  margin: 0;
  line-height: 25px;
}
/*other*/
.other {
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  height: 128px;
}
.other .other-item {
  margin-right: 120px;
  display: -webkit-box;
  /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box;
  /* Firefox 17- */
  display: -webkit-flex;
  /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex;
  /* Firefox 18+ */
  display: -ms-flexbox;
  /* IE 10 */
  display: flex;
  /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.other .other-item.last {
  margin-right: 0;
}
.other .other-item-code {
  display: block;
  width: 82px;
  height: 82px;
  margin-right: 38px;
}
.other .other-item-title {
  color: #303133;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}
.other .other-item-txt {
  color: #828282;
}

/*# sourceMappingURL=style.css.map */
