<%- include('../header.html') -%>
<body>
<div id="app">
    <input id="input" type="text">
    <button id="btn">点击下载</button>
</div>
<script>
    let btn = document.querySelector('#btn');
    let input = document.querySelector('#input');

    btn.onclick = function () {
        if(input.value){
            axios.post('/api/pdfCreate', {
                "url": input.value
            }).then(function (response) {
               alert('下载成功')
                let a = document.createElement('a');
                a.href = response.data.url;
                a.target = '_blank';
                a.innerHTML = '下载内容'
                document.body.append(a);
            }).catch(function (error) {
                console.log(error, 'error')
            });
        }
    }
</script>
</body>
<%- include('../footer.html') -%>
